# directories
/bin/
/nbproject/private/
/build/
/dist/
/target/

# ide settings
/.metadata/
/.settings/
/.vscode/

# files
/output/*.*
/output/test/*.*
/data_files/*.*
*.csv
*.class
/reports/*.csv
/configs/gadi_default_config.json
.DS_Store
/configs/*.json

# exceptions
!output/.gitkeep
!output/test/.gitkeep
!data_files/.gitkeep
!reports/.gitkeep