# directories
/bin/
/nbproject/private/
/build/
/dist/
/output/
/target/

# ide settings
/.metadata/
/.settings/
/.vscode/

# files
*.csv
*.class
/reports/*.csv
/configs/gadi_default_config.json
.DS_Store
